<!DOCTYPE html>
<html>
<body>

<h2>{{product.name}}</h2>

<table style="width:100%">
    <tr>
        <td><img src="{{product.url}}" style="max-width: 500px;"></td>

        <td style="text-align:justify">
            <br>Precio: {{product.price}}€
            <br>Stock: {{product.stock}} unidades
            <br>Descripción: {{product.description}}
            <br>{{#product.promotion}}Oferta: {{product.promotion.promotion}}% descuento{{/product.promotion}}
        </td>
    </tr>
</table>

<button type="button">Añadir al carrito</button>
<button type="button" onclick="location.href='/eliminar/{{product.id}}'">Eliminar Producto</button>

<br>
<br>

<h3>Reseñas</h3>
{{#product.reviews}}
<h5>{{user.username}}</h5>
<p>&nbsp;{{text}}</p>
<br>
{{/product.reviews}}
<br>
<br>
<h3>Escribir reseña sobre este producto</h3>
<form action="/productos/{{product.id}}/nuevaReview" method="post">
    <textarea minlength=10 name='reviewText' rows=5 cols=40></textarea>
    <input type='hidden' value={{product.id}} name='productId'>
    <input type='hidden' value="{{product.id}}">
    <br>
    <br>
    <input type='submit' value='Enviar'>
</form>

<br>
<br>
<a href="/productos">Ir a productos</a>

</body>
</html>