[Unit]
Description=Buyify REST

[Service]
ExecStart=/usr/bin/java -jar /home/buyify/buyify-rest-0.0.1-SNAPSHOT.jar
User=buyify

[Install]
WantedBy=multi-user.target
